.about {
    padding: 100px 0 100px 0;
    flex-direction: column;
    align-items: flex-start;

    &__container {
        width: 100%;
        max-width: 680px;
        margin: 0 auto;
    }

    &__img {
        width: 280px;
        height: 240px;
        margin-bottom: 35px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        font-family: 'Museo Sans Cyrl';
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-mine-shaft);
    }
}