.account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 150px 0;

    @include breakpoint(sm-max) {
        flex-direction: column;
        padding: 30px 0 90px 0;
    }

    &__right {
        width: 100%;
        max-width: 850px;

        @include breakpoint(sm-max) {
            margin: auto;
            max-width: 380px;
        }
    }

    &__title {
        display: none;
        font-family: "Museo Sans Cyrl";
        font-size: 18px;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 30px;
        color: var(--color-mine-shaft);

        @include breakpoint(sm-max) {
            display: block;
            font-size: 24px;
            width: 100%;
            text-align: center;
            color: var(--color-black);
        }
    }
}

.account-sidebar {
    min-width: 280px;
    margin-right: 50px;

    @include breakpoint(sm-max) {
        margin: auto;
        width: 100%;
        max-width: 380px;
        min-width: fit-content;
    }

    &__balance {
        width: 100%;
        padding: 20px 26px;
        background-color: var(--color-emerald);
        border-radius: 10px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(sm-max) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 35px;
        }
    }

    &__balance-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        color: var(--color-white);

        span {
            margin-bottom: 11px;
            font-size: 16px;
            line-height: 100%;
            color: rgba(255, 255, 255, 0.65);
        }
    }

    &__balance-btn {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        background-color: var(--color-white);
        border: none;
        border-radius: 10px;
        font-size: 18px;
        color: var(--color-emerald);
        max-width: 228px;
    }

    &__nav {
        display: flex;
        flex-direction: column;

        @include breakpoint(sm-max) {
            display: none;
        }
    }

    &__nav-link {
        margin-bottom: 30px;
        padding-left: 28px;
        font-size: 18px;
        line-height: 100%;
        position: relative;
        max-width: fit-content;

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            fill: var(--color-mine-shaft);
        }
    }

    &__nav-link--active {
        color: var(--color-emerald);
        cursor: default;

        svg {
            fill: var(--color-emerald);
        }
    }
}

.profile {
    width: 100%;
    max-width: 790px;

    .account__title {
        display: block;
    }

    &__inputs {
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);

        @include breakpoint(md-max) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__input {
        margin: 0;

        .input__title {
            font-size: 16px;
            line-height: 19px;
        }

        .input__field {
            margin-bottom: 0;
        }
    }

    &__btn {
        margin-top: 30px;
        width: 278px;
        height: 50px;
        background: none;
        border: 2px solid var(--color-emerald);
        border-radius: 10px;
        font-size: 18px;
        line-height: 100%;
        color: var(--color-emerald);

        @include breakpoint(md-max) {
            width: 100%;
        }
    }
}

.history {
    width: 100%;
    max-width: 680px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;

    &__item {
        padding: 25px;
        background-color: var(--color-white-lilac);
        border-radius: 10px;
    }

    &__item-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
    }

    &__item-num {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
    }

    &__item-num--positive {
        color: var(--color-emerald);
    }

    &__item-num--negative {
        color: var(--color-coral-red);
    }

    &__item-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 20px;

        @include breakpoint(md-max) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item-info {
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;

        span {
            font-family: "Museo Sans Cyrl";
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            color: var(--color-raven);
        }
    }

    &__item-bottom {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }

    &__item-link {
        font-size: 14px;
        line-height: 100%;
        color: var(--color-emerald);
    }
}

.info {
    font-family: "Museo Sans Cyrl";
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    display: flex;

    @include breakpoint(md-max) {
        justify-content: space-between;
    }

    span {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: var(--color-raven);
        margin-right: 5px;
    }
}

.status {
    font-family: "Museo Sans Cyrl";
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: var(--color-white);
    padding: 4px 6px;
    border-radius: 5px;
}

.status--active {
    background-color: var(--color-emerald);
}

.status--inactive {
    background-color: var(--color-golden-tainoi);
}

.ordering {
    display: flex;
    justify-content: space-between;

    @include breakpoint(md-max) {
        flex-direction: column;
        justify-content: unset;
    }

    &__left {
        width: 100%;
        max-width: 350px;
        margin-right: 40px;

        @include breakpoint(lg-max) {
            min-width: 280px;
        }

        @include breakpoint(md-max) {
            max-width: 100%;
            margin-bottom: 60px;
            margin-right: 0;
            min-width: fit-content;
        }
    }

    &__left-link {
        display: inline-flex;
        padding-left: 19px;
        position: relative;
        font-size: 14px;
        line-height: 100%;
        color: var(--color-emerald);
        margin-bottom: 23px;

        &:hover {
            svg {
                transform: translateX(-5px);
            }
        }

        svg {
            fill: var(--color-emerald);
            position: absolute;
            left: 0;
            transition: 0.3s;
        }
    }

    &__left-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 27px;
    }

    &__left-title {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: var(--color-emerald);
        margin-bottom: 15px;
    }

    &__left-list {
        margin-bottom: 40px;

        .info {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        hr {
            margin-bottom: 15px;
            border-radius: 10px;
            height: 1px;
            background-color: var(--color-gallery);
            border: none;
        }
    }

    &__left-list--justify {
        .info {
            justify-content: space-between;
        }
    }

    &__left-btn {
        display: block;
        margin-top: -15px;
        width: 100%;
        height: 50px;
        background-color: var(--color-emerald);
        border-radius: 10px;
        border: none;
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-white);
        transition: 0.5s;

        &:hover {
            background-color: var(--color-emerald-hover);
        }

        &:active {
            background-color: var(--color-emerald-pressed);
        }
    }

    &__right {
        width: 100%;
        max-width: 460px;
        max-height: 385px;
        overflow: hidden;
        padding-right: 14px;
        margin-top: 45px;

        @include breakpoint(md-max) {
            max-width: 100%;
            margin-bottom: 60px;
            margin-right: 0;
            margin-top: 0;
        }
    }

    &__right-items {
        display: flex;
        overflow: hidden;
    }

    &__right-title {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: var(--color-raven);
        margin-bottom: 20px;
    }

    &__right-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--color-gallery);

        &:last-child {
            border: none;
            margin-bottom: 0;
        }
    }

    &__right-item-left {
        display: flex;
        align-items: center;
    }

    &__right-item-img {
        width: 100px;
        height: 72px;
        margin-right: 5px;

        @include breakpoint(sm-max) {
            width: 64px;
            height: 55px;
        }
    }

    &__right-item-title {
        font-size: 14px;
        line-height: 17px;
        color: var(--color-black);
        max-width: 181px;

        @include breakpoint(sm-max) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__right-item-price {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;

        @include breakpoint(lg-max) {
            display: none;
        }

        @include breakpoint(md-max) {
            display: block;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.coupons {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__item {
        background-color: var(--color-white-lilac);
        border-radius: 10px;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
    }

    &__item--active {
        padding-left: 45px;
        position: relative;

        &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--color-emerald);
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__item-title {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    &__item-info {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        color: var(--color-raven);

        span {
            font-family: "Museo Sans Cyrl";
            font-weight: 300;
            margin-left: 5px;
            font-size: 14px;
            line-height: 100%;
            color: var(--color-emerald);
        }
    }

    &__item-right {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: var(--color-emerald);
    }
}

.account-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    &__img {
        margin-bottom: 10px;
    }

    &__title {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: var(--color-black);
    }
}

.account-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;

    &__tabs {
        display: flex;
        position: relative;
    }

    &__tab {
        margin-right: 50px;
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: var(--color-wistful);
        padding: 0;
        background: none;
        border: none;
        position: relative;

        &:last-child {
            margin-right: 0;
        }
    }

    &__tab--active {
        color: var(--color-emerald);
    }

    &__hint {
        font-size: 14px;
        line-height: 100%;
        color: var(--color-emerald);
        padding: 0;
        background: none;
        border: none;

        @include breakpoint(lg-max) {
            display: none;
        }
    }
}

.account-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 680px;
    height: fit-content;
}

.account-tab-content {
    display: none;
}

.account-tab-content--active {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notifications {
    &__item {
        background-color: var(--color-white-lilac);
        border-radius: 10px;
    }

    &__item--unread {
        .notifications__item-head {
            padding-left: 45px;
        }

        .notifications__item-head::before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--color-emerald);
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__item--active {
        .notifications__item-content {
            display: block;
        }

        .notifications__item-head::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    &__item-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
        padding: 25px 54px 25px 25px;

        &::after {
            content: "";
            width: 18px;
            height: 18px;
            background-image: url("../img/sprite.svg#arrow-down-icon");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__item-content {
        padding: 0 20px 20px 20px;
        color: var(--color-raven);
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        display: none;
    }

    &__item-title {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
    }

    &__item-date {
        font-size: 14px;
        line-height: 100%;
        color: var(--color-wistful);
    }
}

.balance {
    &__input {
        max-width: 380px;
    }

    .input__title {
        font-family: "Museo Sans Cyrl";
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &__title {
        font-size: 16px;
        line-height: 19px;
        margin: 10px 0 20px 0;
    }

    &__btn {
        width: 240px;
        height: 50px;
        margin-top: 30px;
    }
}
