.cart-payment {
    flex-direction: column;
    align-items: center;
    padding: 37px 0 150px 0;

    &__title {
        margin-bottom: 50px;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(sm-max) {
            width: 100%;
            margin: 0 auto;
            max-width: 380px;
        }
    }

    &__btn {
        width: 100%;
        height: 50px;
        margin-top: 30px;
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
}
