.cart-registration {
    flex-direction: column;
    align-items: center;
    padding: 37px 0 120px 0;

    .title {
        margin-bottom: 50px;
    }

    .cart__result {
        margin-bottom: 20px;
    }

    .cart__form-result {
        margin-top: 0;
    }
}