.contacts {
    justify-content: space-between;
    padding: 100px 0 150px 0;

    &__info {
        width: 580px;
    }

    &__info-text {
        font-family: 'Museo Sans Cyrl';
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-mine-shaft);
        margin-bottom: 35px;
    }

    &__info-img {
        width: 280px;
        height: 240px;
        margin-top: 14px;
    }

    &__form {
        max-width: 480px;
    }
}

.phone {
    margin-bottom: 30px;

    svg {
        width: 18px;
        height: 18px;
        fill: var(--color-emerald);
    }

    &__number {
        color: var(--color-emerald);
        margin-left: 10px;
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__date {
        margin-left: 10px;
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;

        span {
            color: var(--color-coral-red);
        }
    }

    &__desc {
        margin-top: 9px;
        margin-left: 28px;
        font-family: 'Museo Sans Cyrl';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: var(--color-wistful);
    }
}

