.header {
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        svg {
            width: 99px;
            height: 42px;
        }

        @media (max-width: $screen-sm-max) {
            display: flex;

            svg {
                width: 85px;
                height: 35px;
            }
        }
    }

    .logo--centered {
        @include breakpoint(sm-max) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__back {
        line-height: 100%;
        color: var(--color-mine-shaft);
        position: relative;
        padding-right: 46px;
        font-size: 14px;

        @include breakpoint(sm-max) {
            padding-right: 37px;
            font-size: 12px;
            margin-bottom: 6px;
        }

        @include breakpoint(lg-max) {
        }

        &::before {
            content: "";
            width: 36px;
            height: 36px;
            background-size: 32px;
            background-color: var(--color-emerald);
            background-image: url("../img/sprite.svg#close-icon");
            background-repeat: no-repeat;
            background-position: center;
            fill: var(--color-white);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;

            @include breakpoint(sm-max) {
                width: 24px;
                height: 24px;
                background-size: 20px;
            }

            @include breakpoint(lg-max) {
            }
        }
    }

    &__top {
        width: 100%;
        height: 97px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-gallery);
        position: relative;
        z-index: 4;

        @media (max-width: $screen-sm-max) {
            height: 64px;
            padding-bottom: 16px;
        }
    }

    &__top--sm {
        border: none;
        height: 82px;

        @include breakpoint(sm-max) {
            height: 65px;
            align-items: flex-end;
            border-bottom: 1px solid var(--color-gallery);
        }
    }

    &__top-left {
        display: flex;
        align-items: center;
    }

    &__phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 51px; ///
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-mine-shaft);

        @include breakpoint(lg-max) {
            margin-left: 30px;
            font-size: 14px;
            line-height: 17px;
        }

        @include breakpoint(sm-max) {
            display: none;
        }

        span {
            margin-bottom: 4px;
            font-family: "Museo Sans Cyrl";
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--color-wistful);

            @include breakpoint(lg-max) {
                margin-bottom: 0;
                font-size: 10px;
                line-height: 12px;
            }
        }
    }

    &__top-center {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include breakpoint(sm-max) {
            display: none;
        }
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 45px;
        position: relative;
        background-color: var(--color-white-lilac);
        border-radius: 31px;

        @include breakpoint(md-max) {
            width: 23vw;
        }

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: none;
            border-radius: 31px;
            border: none;
            outline: none;
            text-align: left;
            font-family: "Museo Sans Cyrl";
            font-weight: 300;
            font-size: 16px;
            line-height: 100%;
            color: var(--color-mine-shaft);
            padding: 0 36px;
        }
    }

    &__search-icon {
        width: 16px;
        height: 17px;
        position: absolute;
        z-index: 5;
        left: 15px;
        top: 50%;
        transform: translate(0, -50%);
        object-fit: contain;
        object-position: center;
    }

    &__search-icon--hidden {
        display: none;
    }

    &__search-placeholder {
        position: relative;
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-wistful);
        padding-left: 21px;

        svg {
            width: 16px;
            height: 17px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__search-placeholder--hidden {
        display: none;
    }

    &__search-dropdown {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 380px;
        background-color: var(--color-white);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px 15px;
    }

    &__search-dropdown--hidden {
        display: none;
    }

    &__search-dropdown-item {
        margin-bottom: 20px;
        white-space: nowrap;
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-mine-shaft);
        text-decoration: none;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__top-right {
        display: flex;

        @include breakpoint(sm-max) {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__location {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 12px;
        line-height: 100%;
        text-align: right;
        position: relative;
        color: var(--color-wistful);
        cursor: pointer;
        padding-left: 21px;

        @include breakpoint(sm-max) {
            font-size: 8px;
            align-items: start;
            padding-left: 29px;
        }

        svg {
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 0;

            @include breakpoint(sm-max) {
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        span {
            color: var(--color-emerald);
            font-size: 16px;
            line-height: 100%;
            text-align: right;
            margin-bottom: 2px;

            @include breakpoint(sm-max) {
                font-size: 10px;
                margin-bottom: 0;
            }
        }
    }

    &__login-mobile {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        font-size: 10px;
        line-height: 100%;
        text-align: right;
        position: relative;
        color: var(--color-wistful);
        cursor: pointer;
        padding-right: 29px;
        overflow: hidden;

        @include breakpoint(sm-max) {
            display: flex;
        }

        &:hover {
            overflow: visible;
        }

        &:hover > .header__login-dropdown {
            opacity: 1;
        }

        svg {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }

        span {
            color: var(--color-emerald);
            line-height: 100%;
            text-align: right;
            font-size: 10px;
            margin-bottom: 0;
        }
    }

    &__login {
        margin-left: 50px;
        padding: 8px 19px;
        border: 1px solid var(--color-french-gray);
        border-radius: 21px;
        background: none;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-black);
        cursor: pointer;
        outline: none;
        text-decoration: none;
        position: relative;
        overflow: hidden;

        @include breakpoint(sm-max) {
            display: none;
        }


        &:hover {
            overflow: visible;
        }

        &:hover > .header__login-dropdown {
            opacity: 1;
        }

        &::before {
            content: "";
            width: 100%;
            height: 25px;
            background: transparent;
            position: absolute;
            right: 0;
            bottom: -17px;
        }
    }

    &__login-dropdown {
        opacity: 0;
        position: absolute;
        top: 50px;
        right: -1px;
        background-color: var(--color-white);
        box-shadow: 0px 4px 20px var(--color-white-lilac);
        border-radius: 10px;
        padding: 15px;
        transition: .3s;

        @include breakpoint(sm-max) {
            padding: 10px;
            top: 30px;
        }
    }

    &__login-link {
        display: block;
        white-space: nowrap;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__auth {
        margin-left: 52px;
        display: flex;
        position: relative;

        @include breakpoint(lg-max) {
            margin-left: 30px;
        }

        @include breakpoint(sm-max) {
            display: none;
        }
    }

    &__auth-dropdown {
        position: absolute;
        top: 33px;
        right: 0;
        background-color: var(--color-white);
        box-shadow: 0px 4px 20px var(--color-white-lilac);
        border-radius: 10px;
        display: none;
    }

    &__auth--active {
        .header__auth-btn {
            svg {
                transform: rotate(180deg);
            }
        }

        .account-menu {
            display: flex;
        }
    }

    &__auth-btn {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: 16px;
        line-height: 100%;
        border: none;
        background: none;

        @include breakpoint(lg-max) {
            max-width: 90px;
            padding-right: 21px;
            position: relative;
        }

        svg {
            width: 16px;
            height: 16px;
            margin-left: 5px;
            fill: var(--color-mine-shaft);

            @include breakpoint(lg-max) {
                margin-left: 0;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 96px;
        position: relative;
        z-index: 3;

        @include breakpoint(sm-max) {
            display: none;
        }
    }

    &__categories {
        display: flex;
    }

    &__categories-items {
        display: flex;
        margin-right: 30px;

        @include breakpoint(lg-max) {
            display: none;
        }
    }

    &__categories-item {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: var(--color-mine-shaft);
        cursor: pointer;
        margin-right: 30px;
        display: flex;
        align-items: center;
        transition: 0.5s;
        position: relative;
        overflow: hidden;

        &:last-child {
            margin-right: 0;
        }

        svg {
            width: 16px;
            height: 16px;
            fill: var(--color-mine-shaft);
            margin-left: 5px;
            transition: 0.5s;
        }

        &:after {
            content: "";
            width: 100%;
            height: 25px;
            position: absolute;
            top: 15px;
            opacity: 0;
        }

        &:hover {
            color: var(--color-emerald);
            overflow: visible;

            svg {
                fill: var(--color-emerald);
            }

            .header__categories-dropdown {
                opacity: 1;
            }
        }

        &:hover:after {
            opacity: 1;
        }

        &:hover > svg {
            fill: var(--color-emerald);
            transform: rotate(180deg);
        }
    }

    .menu-main {
        margin-right: var(--menu-margin);
    }

    .menu-more {
        margin-left: var(--more-margin);
        width: var(--more-width);
        color: var(--color-emerald);

        svg {
            fill: var(--color-emerald);
        }
    }

    &__categories-dropdown {
        position: absolute;
        left: 0;
        top: 27px;
        filter: drop-shadow(0px 0px 20px rgba(48, 48, 48, 0.15));
        background-color: var(--color-white);
        border-radius: 15px;
        transition: 0.3s;
        opacity: 0;
        flex-direction: column;
        width: 180px;
        cursor: default;
    }

    &__categories-dropdown-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px 15px;
    }

    &__categories-dropdown-items {
        display: flex;
        flex-direction: column;
    }

    &__categories-dropdown-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        font-family: "Museo Sans Cyrl";
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-mine-shaft);
        text-decoration: none;
        transition: 0.5s;

        svg {
            width: 16px;
            height: 16px;
            fill: var(--color-mine-shaft);
            transition: 0.5s;
        }

        &:hover {
            color: var(--color-emerald);

            svg {
                fill: var(--color-emerald);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__categories-dropdown-link {
        padding: 12px 20px;
        background: var(--color-emerald);
        border-radius: 10px;
        margin-top: 25px;
        font-family: "Museo Sans Cyrl";
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-white);
        text-decoration: none;
        display: flex;
    }

    &__categories-subdropdown {
        position: absolute;
        top: 0;
        right: -165px;
        bottom: 0;
        width: 165px;
        height: 100%;
        background-color: var(--color-gallery);
        border-radius: 0px 15px 15px 0px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        cursor: default;

        &::after {
            content: "";
            width: 15px;
            height: 100%;
            background-color: var(--color-white);
            position: absolute;
            top: 0;
            bottom: 0;
            left: -15px;
        }
    }

    &__categories-subdropdown-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-mine-shaft);
        text-decoration: none;
        margin-top: -20px;
        margin-bottom: 40px;
        transition: 0.5s;

        &:hover {
            color: var(--color-emerald);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__cart {
        background-color: var(--color-emerald);
        padding: 5px 7px 7px 44px;
        border-radius: 10px;
        display: flex;
        text-decoration: none;
        position: relative;
        margin-top: -10px;

        svg {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__cart-price {
        display: flex;
        flex-direction: column;
        font-family: "Museo Sans Cyrl";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.65);

        span {
            font-family: "Museo Sans Cyrl";
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: var(--color-white);
            margin-bottom: 2px;
        }
    }

    &__cart-count {
        width: 34px;
        height: 34px;
        background-color: rgba(#fff, 0.3);
        border-radius: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-white);
    }
}

.header-sm {
    position: absolute;

    @include breakpoint(sm-max) {
        position: static;
    }

    @include breakpoint(lg-max) {
    }
}

.account-menu {
    min-width: 296px;
    flex-direction: column;

    &__separator {
        width: 100%;
        height: 1px;
        background-color: var(--color-gallery);
        border: 0;
        margin: 0;
    }

    &__head {
        padding: 20px;
        border-bottom: 1px solid var(--color-gallery);
    }

    &__head-balance {
        font-size: 18px;
        line-height: 100%;
    }

    &__head-actions {
        width: 100%;
        display: flex;
        margin-top: 22px;
    }

    &__head-action {
        margin-right: 20px;
        max-width: fit-content;
        height: fit-content;
        font-size: 14px;
        line-height: 100%;
        color: var(--color-emerald);
        padding: 0;
        border: none;
        background: none;
        white-space: nowrap;

        &:last-child {
            margin-right: 0;
        }
    }

    &__nav {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    &__link {
        max-width: fit-content;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-black);

        svg {
            width: 16px;
            height: 16px;
            fill: var(--color-wistful);
            margin-right: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link--active {
        cursor: default;
        color: var(--color-emerald);

        svg {
            fill: var(--color-emerald);
        }
    }

    &__link--btn {
        cursor: pointer;
    }

    &__link--exit {
        color: var(--color-coral-red);

        svg {
            fill: var(--color-coral-red);
        }
    }
}