.login {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding-top: 92px;
    padding-bottom: 60px;

    @include breakpoint(lg-max) {
    }

    @include breakpoint(sm-max) {
        height: fit-content;
        padding: 40px 0 100px 0;
    }

    &__container {
        height: 100%;
    }

    &__form {
        width: 100%;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-submit {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: var(--color-emerald);
        color: var(--color-white);
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        outline: none;
        transition: 0.5s;

        &:hover {
            background-color: var(--color-emerald-hover);
        }

        &:active {
            background-color: var(--color-emerald-pressed);
        }
    }

    &__form-input {
        width: 100%;
    }

    &__form-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: 2px solid var(--color-emerald);
        background: none;
        color: var(--color-emerald);
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        outline: none;
    }

    &__form-separator {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        display: inline-flex;
    }

    &__form-label {
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 12px;
        line-height: 120%;
        color: var(--color-wistful);
        margin-top: 10px;
    }

    &__form-checkbox {
        width: 100%;
        margin-bottom: 20px;

        .checkbox-item__title {
            font-family: "Museo Sans Cyrl";
            font-weight: 300;
            font-size: 12px;
            line-height: 120%;
            color: var(--color-black);
        }
    }
}

.login--scrollable {
    height: fit-content;
}
