@media (max-width: 1200px) {

    .container {
        padding: 0 50px;
    }

    .header {

        &__categories-items {
            display: none;
        }
    }
}

// @media (max-width: 1024px) {

//     .cart {
//         flex-direction: column;

//         &__left {
//             width: 100%;
//         }

//         &__head {
//         }

//         &__title {
//         }

//         &__clean {
//         }

//         &__items {
//         }

//         &__item {
//         }

//         &__item-left {
//         }

//         &__item-right {
//         }

//         &__item-img {
//         }

//         &__item-title {
//         }

//         &__item-count {
//         }

//         &__item-price {
//         }

//         &__item-close {
//         }

//         &__right {
//             width: 100%;
//         }

//         &__form {
//             width: 100%;
//         }

//         &__result {
//         }

//         &__form-submit {
//         }

//         &__form-promocode {
//         }

//         &__form-data {
//         }

//         &__form-result {
//         }

//         &__form-sum {
//         }

//         &__right-label {
//         }
//     }
// }

@media (max-width: 640px) {

    .sidebar {
        display: none;
    }

    .breadcrumbs {
        margin-top: 30px;
    }

    .container {
        padding: 0 15px;
    }

    .h1 {
        font-size: 24px;
        line-height: 29px;
    }

    .about {
        padding: 24px 0 112px 0;

        &__img {
            width: 100%;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 14px;
            line-height: 150%;
        }
    }

    .cart-registration {
        padding: 30px 0 87px 0;

        .title {
            margin-bottom: 48px;
        }

        .checkbox-item {
        }

        .checkbox-item__title {
        }

        .cart__result {
            width: 100%;
        }

        .cart__form-result {
        }

        &__form {
            width: 100%;
        }

        &__form-input {
        }

        &__form-submit {
        }
    }
}