@media (max-width: 1200px) {

    .container {
        padding: 0 50px;
    }
}

@media (max-width: 640px) {

    .sidebar {
        display: none;
    }

    .breadcrumbs {
        margin-top: 30px;
    }

    .container {
        padding: 0 15px;
    }

    .h1 {
        font-size: 24px;
        line-height: 29px;
    }

    .about {
        padding: 24px 0 112px 0;

        &__img {
            width: 100%;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 14px;
            line-height: 150%;
        }
    }

    .cart-registration {
        padding: 30px 0 87px 0;

        .title {
            margin-bottom: 48px;
        }

        .cart__result {
            width: 100%;
        }

        &__form {
            width: 100%;
        }
    }
}