.article {
    padding: 53px 0 150px 0;
    flex-direction: column;

    &__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__title {
        max-width: 680px;
        font-family: "Museo Sans Cyrl";
        font-weight: 900;
        font-size: 32px;
        line-height: 38px;
    }

    &__date {
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: var(--color-wistful);
    }

    &__img {
        width: 100%;
        height: 300px;
        object-position: center;
        object-fit: cover;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    &__text {
        font-size: 18px;
        line-height: 150%;
        color: var(--color-black);
        text-align: justify;
    }
}
