.news {
    display: flex;
    flex-direction: column;
    padding: 100px 0;

    &__title {
    }

    &__items {
        margin-top: 60px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 140px;
        grid-row-gap: 60px;
    }

    &__item {
        display: flex;
    }

    &__item-img {
        width: 250px;
        height: 180px;
        margin-right: 20px;
        border-radius: 10px;
    }

    &__item-right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item-title {
        width: 100%;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-black);
    }

    &__item-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__item-date {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 17px;
        color: var(--color-wistful);
    }

    &__item-link {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: var(--color-emerald);
    }
}
