.payment {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	max-width: 760px;

	@include breakpoint(sm-max) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 7px;
		max-width: 480px;
	}

	&__item {
		width: 100%;
		height: 180px;
		border: 1px solid var(--color-wistful);
		border-radius: 10px;
		background-color: transparent;
		padding: 23px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include breakpoint(sm-max) {
			height: 152px;
			padding: 15px;
		}

		&:first-child {
			@include breakpoint(sm-max) {
				grid-column: 1 / span 2;
			}
		}
	}

	&__item--active {
		background: rgba(70, 197, 120, 0.2);
		border: 1px solid var(--color-emerald);
	}

	&__item-icons {
		margin-bottom: 5px;
	}

	&__item-icon {
		width: 50px;
		height: 32px;

		&:nth-child(2) {
			margin-left: 5px;
		}
	}

	&__item-title {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: var(--color-mine-shaft);
		width: 100%;
		min-height: 34px;

		@include breakpoint(sm-max) {
			font-size: 12px;
			line-height: 14px;
			min-height: fit-content;
		}
	}
}
