.propos {
    @media (min-width: $screen-lg) {
        width: 100%;
        margin-bottom: 80px;
    }

    @media (max-width: $screen-sm-max) {
        width: 200%;
        margin-bottom: 60px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (min-width: $screen-xl) {
            grid-gap: 17px;
        }

        @media (max-width: $screen-lg-max) {
            grid-gap: 40px;
        }

        @media (max-width: $screen-sm-max) {
            grid-gap: 15px;
        }
    }

    &__item {
        // margin-right: 15px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-decoration: none;

        @media (min-width: $screen-xl) {
            height: 260px;
            padding: 30px 20px 30px 20px;
        }

        @media (max-width: $screen-lg-max) {
            height: 171px;
            padding: 15px 10px;
        }

        @media (max-width: $screen-sm-max) {
            width: 158px !important;
            height: 158px;
            padding: 10px;
        }

        &:first-child {

            @media (min-width: $screen-xl) {
                width: 380px;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__item-title {
        width: 100%;
        color: var(--color-white);
        font-family: "Museo Sans Cyrl";
        font-weight: 900;
        margin-bottom: 5px;

        @media (min-width: $screen-xl) {
            font-size: 24px;
            line-height: 29px;
        }

        @media (max-width: $screen-lg-max) {
            font-size: 18px;
            line-height: 22px;
        }

        @media (max-width: $screen-sm-max) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__item-label {
        width: 100%;
        font-size: 18px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.75);

        @media (min-width: $screen-lg) {
            font-size: 18px;
            line-height: 22px;
        }

        @media (max-width: $screen-lg-max) {
            font-size: 10px;
            line-height: 12px;
        }

        // @media (max-width: $screen-sm-max) {
        //     font-size: 10px;
        //     line-height: 12px;
        // }
    }
}
