.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    @include breakpoint(sm-max) {
        margin-bottom: 60px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        @include breakpoint(sm-max) {
            margin-bottom: 15px;
        }
    }

    &__title {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;

        @include breakpoint(sm-max) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__count {
        font-size: 18px;
        line-height: 22px;
    }

    &__filter {
        font-size: 18px;
        line-height: 22px;
        display: flex;
        cursor: pointer;
        align-items: center;
        position: relative;

        svg {
            width: 16px;
            height: 16px;
            fill: var(--color-mine-shaft);
            margin-left: 5px;
        }
    }

    &__filter--active {
        .products__filter-dropdown {
            display: block;
        }

        svg {
            transform: rotate(180deg);
        }
    }

    &__filter-dropdown {
        position: absolute;
        top: 30px;
        right: 0;
        box-shadow: 0px 4px 20px var(--color-white-lilac);
        border-radius: 15px;
        padding: 10px 0;
        display: none;
        min-width: max-content;
    }

    &__filter-dropdown-item {
        padding: 5px 15px;
        font-size: 18px;
        line-height: 22px;
        transition: 0.1s;

        &:hover {
            background-color: var(--color-emerald);
            color: var(--color-white);
        }
    }

    &__link {
        font-size: 18px;
        line-height: 22px;
        color: var(--color-emerald);
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;

        @include breakpoint(sm-max) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__slider {
        width: 100%;

        @include breakpoint(sm-max) {
            overflow: visible;
        }

        .product {
            width: 250px;
            height: 386px;
        }
    }

    &__items--four {
        width: 100%;
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-gap: 60px;
        grid-template-columns: repeat(4, 1fr);

        .product {
            width: auto;
        }

        // .product {
        //     @include breakpoint(sm-max) {
        //         margin-right: 30px;
        //         margin-bottom: 30px;

        //         &:nth-child(2n) {
        //             margin-right: 0;
        //         }

        //         &:nth-last-child(-n + 2) {
        //             margin-bottom: 0;
        //         }
        //     }

        //     @include breakpoint(sm-max) {
        //         margin-right: 60px;
        //         margin-bottom: 60px;

        //         &:nth-child(4n) {
        //             margin-right: 0;
        //         }

        //         &:nth-last-child(-n + 4) {
        //             margin-bottom: 0;
        //         }
        //     }
        // }
    }

    &__items--three {
        display: flex;
        flex-wrap: wrap;
        margin-top: -20px;

        .product {
            @include breakpoint(sm-max) {
                margin-right: 60px;
                margin-bottom: 60px;

                &:nth-child(3n) {
                    margin-right: 0;
                }

                &:nth-last-child(-n + 3) {
                    margin-bottom: 0;
                }
            }

            @include breakpoint(sm-max) {
                margin-right: 30px;
                margin-bottom: 30px;

                &:nth-child(2n) {
                    margin-right: 0;
                }

                &:nth-last-child(-n + 2) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__empty {
        width: 100%;
        height: 100%;
        // padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__empty-img {
        width: 215px;
        height: 205px;
        margin-bottom: 25px;
    }

    &__empty-title {
        max-width: 380px;
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: var(--color-black);
        margin-bottom: 15px;
    }

    &__empty-text {
        max-width: 280px;
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: var(--color-black);

        a {
            color: var(--color-emerald);
        }
    }
}

.products-wrapper {
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
        width: 54px;
        height: 54px;
        border-radius: 100%;
        background-color: var(--color-white);
        filter: drop-shadow(0px 4px 10px rgba(115, 121, 140, 0.15));
        background-position: center;
        background-repeat: no-repeat;
        outline: none;

        @include breakpoint(sm-max) {
            display: none;
        }

        svg {
            width: 24px;
            height: 24px;
            fill: var(--color-mine-shaft);
        }

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        right: -75px;
        top: 55.5%;
        transform: translate(0, -50%) rotate(180deg);

        @include breakpoint(lg-max) {
            right: -40px;
        }
    }

    .swiper-button-prev {
        left: -75px;
        top: 55.5%;
        transform: translate(0, -50%);

        @include breakpoint(lg-max) {
            left: -40px;
        }
    }

    .swiper-button-disabled {
        display: none;
    }
}

.product-card {
    width: 250px;
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(sm-max) {
        max-width: 158px;
        height: 236px;
    }

    &__img {
        width: 100%;
        object-fit: contain;
        object-position: center;

        @include breakpoint(sm-max) {
            height: 115px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-black);
        margin-bottom: 10px;

        @include breakpoint(sm-max) {
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 5px;
        }
    }

    &__available {
        font-size: 15px;
        line-height: 125%;
        color: var(--color-emerald);
        margin-bottom: 5px;

        @include breakpoint(sm-max) {
            font-size: 10px;
        }
    }

    &__weight {
        font-size: 15px;
        line-height: 125%;
        margin-bottom: 5px;

        @include breakpoint(sm-max) {
            font-size: 10px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__price {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;

        @include breakpoint(lg-max) {
            font-size: 22px;
        }

        @include breakpoint(sm-max) {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__price-old {
        font-family: "Museo Sans Cyrl";
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: line-through;
        color: var(--color-alto);

        @include breakpoint(lg-max) {
            font-size: 16px;
        }

        @include breakpoint(sm-max) {
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__price-new {
        color: var(--color-coral-red);
        font-weight: 700;
    }

    &__button {
        width: 128px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: var(--color-emerald);
        color: var(--color-white);
        font-size: 15px;
        line-height: 18px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: var(--color-emerald-hover);
        }

        &:active {
            background-color: var(--color-emerald-pressed);
        }

        @include breakpoint(lg-max) {
            width: 100px;
        }

        @include breakpoint(sm-max) {
            font-size: 10px;
            width: 78px;
            height: 30px;
        }
    }
}

.product-card--showall {
    width: 250px;
    background-color: var(--color-emerald);
    border-radius: 15px;
    justify-content: center;
    align-items: center;

    &__icon {
        margin-bottom: 10px;
        width: 40px;
        height: 40px;
        fill: var(--color-white);
    }

    &__title {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-white);
    }
}
