.search {
    display: flex;
    flex-direction: column;
    padding: 38px 0 0 0;

    &__container {
        @include breakpoint(sm-max) {
            max-width: 380px;
        }
    }

    &__title {
        @include breakpoint(sm-max) {
            display: none;
        }
    }

    &__title--mob {
        display: none;
        margin: 0;

        @include breakpoint(sm-max) {
            display: block;
        }
    }

    &__components {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}