.select {
    margin-top: 10px;
    // width: 120px;
    position: relative;
    // margin-bottom: 10px;

    .swiper-scrollbar {
        margin-right: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: none;
        width: 4px;
    }

    .swiper-scrollbar-drag {
        background-color: var(--color-wistful);
    }

    &__head {
        width: 100%;
        height: 50px;
        border: 1px solid var(--color-wistful);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        user-select: none;
    }

    &__current {
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-wistful);
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__body {
        width: 100%;
        background-color: var(--color-white);
        box-shadow: 0px 4px 10px var(--color-white-lilac);
        border-radius: 15px;
        position: absolute;
        top: 60px;
        z-index: 10;
        max-height: 274px;
        padding: 15px 15px 0 15px;
        visibility: hidden;
    }

    &__title {
        font-family: "Museo Sans Cyrl";
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    &__item {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        cursor: pointer;
    }
}

.select--active {
    .select__body {
        visibility: visible;
    }
}