.sidebar {
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 80px;

    @include breakpoint(sm-max) {
        display: none;
    }

    &__filter {
        margin-bottom: 50px;
    }

    &__checkbox {
        margin-bottom: 20px;
    }

    &__filter-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        width: 100%;
    }

    &__filter-settings {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__filter-setting {
        display: flex;
        margin-right: 10px;
        align-items: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: var(--color-black);
    }

    &__filter-input {
        margin-left: 10px;
        width: 100px;
        height: 40px;
        background-color: var(--color-white-lilac);
        border: none;
        outline: none;
        border-radius: 10px;
        text-align: center;
        padding: 0 10px 0 10px;
        font-size: 16px;
        line-height: 19px;

        &::placeholder {
            color: var(--color-wistful);
        }
    }

    &__submit {
        margin: 30px 0 20px 0;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: var(--color-emerald);
        color: var(--color-white);
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    &__reset {
        width: 100%;
        height: 50px;
        border: 2px solid var(--color-emerald);
        border-radius: 10px;
        outline: none;
        background: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-emerald);
    }

    @media (max-width: $screen-xs-max) {
        display: none;
    }
}