.contacts {
    justify-content: space-between;
    padding: 100px 0 150px 0;

    &__info {
        width: 580px;
    }

    &__info-text {
        font-family: 'Museo Sans 500 Medium';
        font-size: 18px;
        line-height: 150%;
        color: var(--color-mine-shaft);
        margin-bottom: 35px;
    }

    &__info-img {
        width: 280px;
        height: 240px;
        margin-top: 14px;
    }

    &__form {
        width: 480px;
    }

	&__form-attached {
        margin-top: -5px;
        margin-bottom: 30px;
        padding-left: 23px;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("../img/icons/attach-icon.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
	}

	&__form-recaptha {
        width: 380px;
        height: 102px;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 30px;
    }

    &__form-buttons {
        display: flex;
        align-items: center;
    }

	&__form-submit {
        width: 173px;
        height: 50px;
        border-radius: 10px;
        background-color: var(--color-emerald);
        border: none;
        color: #fff;
        font-size: 18px;
        line-height: 100%;
        cursor: pointer;
        transition: .5s;
        outline: none;

        &:hover {
            background-color: var(--color-emerald-hover);
        }

        &:active {
            background-color: var(--color-emerald-pressed);
        }
	}

	&__form-reset {
        padding: 0;
        border: none;
        background: none;
        font-size: 18px;
        line-height: 100%;
        cursor: pointer;
        margin-left: 40px;
        color: var(--color-emerald);
        outline: none;
	}
}

.phone {
    margin-bottom: 30px;

    svg {
        width: 18px;
        height: 18px;
        fill: var(--color-emerald);
    }

    &__number {
        color: var(--color-emerald);
        margin-left: 10px;
        font-family: 'Museo Sans 700 Bold';
        font-size: 18px;
        line-height: 100%;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__date {
        margin-left: 10px;
        font-family: 'Museo Sans 700 Bold';
        font-size: 14px;
        line-height: 100%;

        span {
            color: var(--color-coral-red);
        }
    }

    &__desc {
        margin-top: 9px;
        margin-left: 28px;
        font-family: 'Museo Sans 500 Medium';
        font-size: 14px;
        line-height: 17px;
        color: var(--color-wistful);
    }
}

