$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    transform: none;
    font-family: "Museo Sans 500 Medium";
    font-style: normal;
    color: var(--color-mine-shaft);
}

.main {
    width: 100%;
    transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-mine-shaft);
}

button {
    cursor: pointer;
    outline: none;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1180px;
    height: fit-content;
    margin: 0 auto;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.search-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(48, 48, 48, 0.4);
    width: 100%;
    height: calc(100vh - 97px);
    z-index: 3;
    display: none;
}

.search-bg--active {
    display: flex;
}

.h1 {
    font-family: "Museo Sans 900 Black";
    font-size: 32px;
    line-height: 38px;
    color: var(--color-mine-shaft);
    margin-bottom: 20px;
}

.title {
    font-family: "Museo Sans 700 Bold";
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) {
        font-size: 20px;
        line-height: 100%;
    }
}

.breadcrumbs {
    margin-top: 20px;
    font-family: "Museo Sans 500 Medium";
    font-size: 14px;
    line-height: 17px;
    color: var(--color-wistful);
    text-decoration: none;
}

.input {
    &__title {
        font-family: "Museo Sans 700 Bold";
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    &__field {
        width: 100%;
        height: 50px;
        border: 1px solid var(--color-wistful);
        border-radius: 10px;
        outline: none;
        padding: 0 15px 0 15px;
        font-family: "Museo Sans 300 Light";
        font-size: 16px;
        line-height: 100%;
        color: var(--color-mine-shaft);
        margin-bottom: 20px;

        &::placeholder {
            font-family: "Museo Sans 300 Light";
            font-size: 16px;
            line-height: 100%;
            color: var(--color-wistful);
        }
    }

    &__text-area {
        width: 100%;
        height: 235px;
        resize: none;
        border: 1px solid var(--color-wistful);
        border-radius: 10px;
        outline: none;
        padding: 17px 15px 17px 15px;
        font-family: "Museo Sans 300 Light";
        font-size: 16px;
        line-height: 100%;
        color: var(--color-mine-shaft);
        margin-bottom: 20px;

        &::placeholder {
            font-family: "Museo Sans 300 Light";
            font-size: 16px;
            line-height: 100%;
            color: var(--color-wistful);
        }
    }

    &__selects {
        display: flex;
        justify-content: space-between;
    }

    &__field--hidden {
        display: none;
    }

    &--hidden {
        display: none;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.input--disabled {

    .input__title {
        color: var(--color-wistful);
    }

    .input__field {
        &:disabled {
            background-color: #fff;
            color: var(--color-wistful);
        }
    }
}

.select {
    width: 120px;
    position: relative;
    margin-bottom: 10px;

    .swiper-scrollbar {
        margin-right: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: none;
        width: 4px;
    }

    .swiper-scrollbar-drag {
        background-color: var(--color-wistful);
    }

    &__head {
        width: 100%;
        height: 50px;
        border: 1px solid var(--color-wistful);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        user-select: none;
    }

    &__current {
        font-family: "Museo Sans 300 Light";
        font-size: 16px;
        line-height: 100%;
        color: var(--color-wistful);
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__body {
        width: 100%;
        background: #fff;
        box-shadow: 0px 4px 10px #f4f5fa;
        border-radius: 15px;
        position: absolute;
        top: 60px;
        z-index: 10;
        max-height: 274px;
        padding: 15px 15px 0 15px;
        visibility: hidden;
    }

    &__title {
        font-family: "Museo Sans 700 Bold";
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    &__item {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        cursor: pointer;
    }
}
.select--active {
    .select__body {
        visibility: visible;
    }
}

.checkbox-item {
    max-width: fit-content;
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 30px;

    &__input {
        display: none;

        &:checked + .checkbox::after {
            opacity: 1;
        }

        &:checked + .checkbox {
            background-color: var(--color-emerald);
        }
    }

    &__title {
        font-size: 18px;
        line-height: 22px;
        margin-left: 10px;
    }

    .checkbox {
        width: 20px;
        height: 20px;
        background-color: #f4f5fa;
        border-radius: 5px;
        position: relative;
        padding-right: 20px;

        &::after {
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("../img/sprite.svg#check-icon");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
}

.form-additional {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;

    &__link {
        font-family: "Museo Sans 300 Light";
        font-size: 14px;
        line-height: 100%;
    }
}

.checkbox-item--form {
    margin: 0;

    .checkbox-item__title {
        font-family: "Museo Sans 300 Light";
        font-size: 14px;
        line-height: 100%;
    }
}

.mobile-menu {
    width: 100%;
    height: 57px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 33px 0 29px;
    background-color: #fff;
    box-shadow: 0px -27px 355px rgba(0, 0, 0, 0.0174206), 0px -12.8911px 132.878px rgba(0, 0, 0, 0.025),
        0px -5.0507px 49.0332px rgba(0, 0, 0, 0.0325794), 0px -1.56836px 16.6433px rgba(0, 0, 0, 0.05);

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    &__item-icon {
        fill: var(--color-wistful);
    }

    &__item-label {
        margin-top: 5px;
        font-family: "Museo Sans 300 Light";
        font-size: 10px;
        line-height: 100%;
        text-align: center;
        color: var(--color-wistful);
    }
}
