.header {
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        img {
            width: 99px;
            height: 42px;
        }
    }

    .logo-mobile {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 85px;
            height: 35px;
        }

        @media (max-width: $screen-xs-max) {
            display: flex;
        }
    }

    &__back {
        font-size: 14px;
        line-height: 100%;
        color: #303030;
        padding-right: 46px;
        position: relative;

        &::before {
            content: "";
            width: 36px;
            height: 36px;
            background-color: var(--color-emerald);
            background-image: url("../img/sprite.svg#close-icon");
            background-repeat: no-repeat;
            background-position: center;
            fill: #fff;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }

    &__top {
        width: 100%;
        height: 97px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-gallery);
        position: relative;
        z-index: 4;

        @media (max-width: $screen-xs-max) {
            height: 64px;
            padding-bottom: 16px;
        }
    }

    &__top--sm {
        border: none;
        height: 82px;
    }

    &__top-left {
        align-items: center;

        @media (max-width: $screen-xs-max) {
            display: none;
        }

        @media (min-width: $screen-sm) {
            display: flex;
        }
    }

    &__phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 51px; ///
        font-family: "Museo Sans 700 Bold";
        font-size: 18px;
        line-height: 22px;
        color: var(--color-mine-shaft);

        span {
            margin-bottom: 4px;
            font-family: "Museo Sans 500 Medium";
            font-size: 14px;
            line-height: 17px;
            color: var(--color-wistful);
        }

        // @media (min-width: $screen-sm) {
        //     margin-left: 20px;
        //     font-size: 14px;
        //     line-height: 17px;

        //     span {
        //         font-size: 10px;
        //         line-height: 12px;
        //         margin-bottom: 0;
        //     }
        // }
    }

    &__top-center {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: $screen-lg) {
            display: flex;
        }
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 45px;
        position: relative;
        background-color: var(--color-white-lilac);
        border-radius: 31px;

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: none;
            border-radius: 31px;
            border: none;
            outline: none;
            text-align: left;
            font-family: "Museo Sans 300 Light";
            font-size: 16px;
            line-height: 100%;
            color: var(--color-mine-shaft);
            padding: 0 36px;
        }
    }

    &__search-icon {
        width: 16px;
        height: 17px;
        position: absolute;
        z-index: 5;
        left: 15px;
        top: 50%;
        transform: translate(0, -50%);
        object-fit: contain;
        object-position: center;
    }

    &__search-icon--hidden {
        display: none;
    }

    &__search-placeholder {
        position: relative;
        font-family: "Museo Sans 300 Light";
        font-size: 16px;
        line-height: 100%;
        color: var(--color-wistful);
        padding-left: 21px;

        svg {
            width: 16px;
            height: 17px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__search-placeholder--hidden {
        display: none;
    }

    &__search-dropdown {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px 15px;
    }

    &__search-dropdown--hidden {
        display: none;
    }

    &__search-dropdown-item {
        margin-bottom: 20px;
        white-space: nowrap;
        font-family: "Museo Sans 300 Light";
        font-size: 16px;
        line-height: 100%;
        color: var(--color-mine-shaft);
        text-decoration: none;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__top-right {
        display: flex;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__location {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 12px;
        line-height: 100%;
        text-align: right;
        position: relative;
        color: var(--color-wistful);
        cursor: pointer;
        padding-left: 21px;

        svg {
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 0;
        }

        span {
            color: var(--color-emerald);
            font-size: 16px;
            line-height: 100%;
            text-align: right;
            margin-bottom: 2px;
        }

        @media (max-width: $screen-xs-max) {
            font-size: 8px;
            align-items: start;
            padding-left: 29px;

            svg {
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translate(0, -50%);
            }

            span {
                font-size: 10px;
                margin-bottom: 0;
            }
        }
    }

    &__login-mobile {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        font-size: 8px;
        line-height: 100%;
        text-align: right;
        position: relative;
        color: var(--color-wistful);
        cursor: pointer;
        padding-right: 29px;

        svg {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }

        span {
            color: var(--color-emerald);
            line-height: 100%;
            text-align: right;
            font-size: 10px;
            margin-bottom: 0;
        }

        @media (max-width: $screen-xs-max) {
            display: flex;
        }
    }

    &__login {
        margin-left: 50px;
        padding: 8px 19px;
        border: 1px solid #c0c2cb;
        border-radius: 21px;
        background: none;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        cursor: pointer;
        outline: none;
        text-decoration: none;

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    &__auth {
        margin-left: 52px;
        display: flex;
        position: relative;
    }

    &__auth-dropdown {
        position: absolute;
        top: 33px;
        right: 0;
        background-color: #fff;
        box-shadow: 0px 4px 20px #f4f5fa;
        border-radius: 10px;
    }

    .auth-dropdown {
        min-width: 296px;
        display: none;
        flex-direction: column;

        &__head {
            padding: 20px;
            border-bottom: 1px solid #f0f0f0;
        }

        &__head-balance {
            font-size: 18px;
            line-height: 100%;
        }

        &__head-actions {
            width: 100%;
            display: flex;
            margin-top: 22px;
        }

        &__head-action {
            margin-right: 20px;
            max-width: fit-content;
            height: fit-content;
            font-size: 14px;
            line-height: 100%;
            color: #46c578;
            padding: 0;
            border: none;
            background: none;
            white-space: nowrap;

            &:last-child {
                margin-right: 0;
            }
        }

        &__menu {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        &__link {
            max-width: fit-content;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 100%;
            color: #000;

            svg {
                width: 16px;
                height: 16px;
                fill: var(--color-wistful);
                margin-right: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link--active {
            cursor: default;
            color: var(--color-emerald);

            svg {
                fill: var(--color-emerald);
            }
        }

        &__link--btn {
            cursor: pointer;
        }

        &__link--exit {
            color: var(--color-coral-red);

            svg {
                fill: var(--color-coral-red);
            }
        }
    }

    &__auth--active {
        .header__auth-btn {
            svg {
                transform: rotate(180deg);
            }
        }

        .auth-dropdown {
            display: flex;
        }
    }

    &__auth-btn {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: 16px;
        line-height: 100%;
        border: none;
        background: none;

        svg {
            width: 16px;
            height: 16px;
            margin-left: 5px;
            fill: var(--color-mine-shaft);
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 96px;

        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    &__categories {
        display: flex;
    }

    &__categories-items {
        display: flex;
        margin-right: 30px;
    }

    &__categories-item {
        font-family: "Museo Sans 700 Bold";
        font-size: 14px;
        line-height: 17px;
        color: var(--color-mine-shaft);
        cursor: pointer;
        margin-right: 30px;
        display: flex;
        align-items: center;
        transition: 0.5s;
        position: relative;

        &:last-child {
            margin-right: 0;
        }

        svg {
            width: 16px;
            height: 16px;
            fill: var(--color-mine-shaft);
            margin-left: 5px;
            transition: 0.5s;
        }

        &:hover {
            color: var(--color-emerald);
        }

        &:hover > svg {
            fill: var(--color-emerald);
        }
    }

    .menu-main {
        margin-right: var(--menu-margin);
    }

    .menu-more {
        margin-left: var(--more-margin);
        width: var(--more-width);
        color: var(--color-emerald);

        svg {
            fill: var(--color-emerald);
        }
    }

    &__categories-dropdown {
        position: absolute;
        left: 0;
        top: 27px;
        filter: drop-shadow(0px 0px 20px rgba(48, 48, 48, 0.15));
        background: #fff;
        // border-radius: 15px;
        border-radius: 15px 0px 0px 15px;
        display: none;
        flex-direction: column;
        width: 180px;
    }

    &__categories-item--active {
        color: var(--color-emerald);

        svg {
            fill: var(--color-emerald);
        }

        .header__categories-dropdown {
            display: flex;
        }
    }

    &__categories-dropdown-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px 15px;
    }

    &__categories-dropdown-items {
        display: flex;
        flex-direction: column;
    }

    &__categories-dropdown-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        font-family: "Museo Sans 500 Medium";
        font-size: 16px;
        line-height: 100%;
        color: var(--color-mine-shaft);
        text-decoration: none;
        transition: 0.5s;

        svg {
            width: 16px;
            height: 16px;
            fill: var(--color-mine-shaft);
            transition: 0.5s;
        }

        &:hover {
            color: var(--color-emerald);
        }

        &:hover > svg {
            fill: var(--color-emerald);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__categories-dropdown-link {
        padding: 12px 20px;
        background: var(--color-emerald);
        border-radius: 10px;
        margin-top: 25px;
        font-family: "Museo Sans 500 Medium";
        font-size: 16px;
        line-height: 100%;
        color: #fff;
        text-decoration: none;
        display: flex;
    }

    &__categories-subdropdown {
        position: absolute;
        top: 0;
        right: -165px;
        bottom: 0;
        width: 165px;
        height: 100%;
        background: #f0f0f0;
        border-radius: 0px 15px 15px 0px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: default;
    }

    &__categories-subdropdown-item {
        font-family: "Museo Sans 500 Medium";
        font-size: 16px;
        line-height: 100%;
        color: var(--color-mine-shaft);
        text-decoration: none;
        margin-top: -20px;
        margin-bottom: 40px;
        transition: 0.5s;

        &:hover {
            color: var(--color-emerald);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__cart {
        background-color: var(--color-emerald);
        padding: 5px 7px 7px 44px;
        border-radius: 10px;
        display: flex;
        text-decoration: none;
        position: relative;
        margin-top: -10px;

        svg {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__cart-price {
        display: flex;
        flex-direction: column;
        font-family: "Museo Sans 500 Medium";
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.65);

        span {
            font-family: "Museo Sans 700 Bold";
            font-size: 16px;
            line-height: 19px;
            color: #fff;
            margin-bottom: 2px;
        }
    }

    &__cart-count {
        width: 34px;
        height: 34px;
        background-color: #74d69a;
        border-radius: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Museo Sans 700 Bold";
        font-size: 16px;
        line-height: 19px;
        color: #fff;
    }
}

.header-sm {
    position: absolute;
}
