.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    @media (min-width: $screen-lg) {
        margin-bottom: 100px;
    }

    @media (max-width: $screen-xs-max) {
        margin-bottom: 60px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $screen-lg) {
            margin-bottom: 40px;
        }

        @media (max-width: $screen-xs-max) {
            margin-bottom: 15px;
        }
    }

    &__title {
        font-family: "Museo Sans 700 Bold";

        @media (min-width: $screen-lg) {
            font-size: 42px;
            line-height: 50px;
        }

        @media (max-width: $screen-xs-max) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__count {
        font-size: 18px;
        line-height: 22px;
    }

    &__filter {
        font-size: 18px;
        line-height: 22px;
        display: flex;
        cursor: pointer;
        align-items: center;

        svg {
            width: 16px;
            height: 16px;
            fill: var(--color-mine-shaft);
            margin-left: 5px;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 22px;
        color: var(--color-emerald);
        text-decoration: none;

        @media (min-width: $screen-lg) {
            font-size: 18px;
            line-height: 22px;
        }

        @media (max-width: $screen-xs-max) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__slider {
        width: 100%;

        @media (min-width: $screen-lg) {
        }

        @media (max-width: $screen-xs-max) {
            overflow: visible;
        }

        .product {
            @media (min-width: $screen-lg) {
                width: 250px;
                height: 386px;
            }

            @media (max-width: $screen-xs-max) {
                width: 46% !important;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__items--four {
        width: 100%;
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-gap: 60px;
        grid-template-columns: repeat(4, 1fr);

        .product {
            width: auto;
        }

        // .product {
        //     @media (max-width: $screen-xs-max) {
        //         margin-right: 30px;
        //         margin-bottom: 30px;

        //         &:nth-child(2n) {
        //             margin-right: 0;
        //         }

        //         &:nth-last-child(-n + 2) {
        //             margin-bottom: 0;
        //         }
        //     }

        //     @media (min-width: $screen-sm) {
        //         margin-right: 60px;
        //         margin-bottom: 60px;

        //         &:nth-child(4n) {
        //             margin-right: 0;
        //         }

        //         &:nth-last-child(-n + 4) {
        //             margin-bottom: 0;
        //         }
        //     }
        // }
    }

    &__items--three {
        display: flex;
        flex-wrap: wrap;
        margin-top: -20px;

        .product {
            @media (max-width: $screen-xs-max) {
                margin-right: 30px;
                margin-bottom: 30px;

                &:nth-child(2n) {
                    margin-right: 0;
                }

                &:nth-last-child(-n + 2) {
                    margin-bottom: 0;
                }
            }

            @media (min-width: $screen-sm) {
                margin-right: 60px;
                margin-bottom: 60px;

                &:nth-child(3n) {
                    margin-right: 0;
                }

                &:nth-last-child(-n + 3) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.products-wrapper {
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
        width: 54px;
        height: 54px;
        border-radius: 100%;
        background-color: #fff;
        filter: drop-shadow(0px 4px 10px rgba(115, 121, 140, 0.15));
        background-image: url("../svg/arrow-left-icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        outline: none;

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        right: -75px;
        top: 55.5%;
        transform: translate(0, -50%) rotate(180deg);
    }

    .swiper-button-prev {
        left: -75px;
        top: 55.5%;
        transform: translate(0, -50%);
    }

    .swiper-button-disabled {
        display: none;
    }
}

.product {
    width: 250px;
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
        width: 100%;
    }

    &__title {
        font-family: "Museo Sans 700 Bold";
        font-size: 18px;
        line-height: 22px;
        color: #000;
        margin-bottom: 10px;

        @media (max-width: $screen-xs-max) {
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 5px;
        }
    }

    &__available {
        font-size: 15px;
        line-height: 125%;
        color: var(--color-emerald);
        margin-bottom: 5px;

        @media (max-width: $screen-xs-max) {
            font-size: 10px;
        }
    }

    &__weight {
        font-size: 15px;
        line-height: 125%;
        margin-bottom: 5px;

        @media (max-width: $screen-xs-max) {
            font-size: 10px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__price {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        font-family: "Museo Sans 700 Bold";
        font-size: 24px;
        line-height: 29px;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__price-old {
        font-family: "Museo Sans 500 Medium";
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: line-through;
        color: #d6d5d5;

        @media (max-width: $screen-xs-max) {
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__price-new {
        color: var(--color-coral-red);
    }

    &__button {
        width: 128px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: var(--color-emerald);
        color: #fff;
        font-size: 15px;
        line-height: 18px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: var(--color-emerald-hover);
        }

        &:active {
            background-color: var(--color-emerald-pressed);
        }

        @media (max-width: $screen-xs-max) {
            font-size: 10px;
            width: 78px;
            height: 30px;
        }
    }

    @media (max-width: $screen-xs-max) {
        width: 157px;
        height: 236px;
    }
}

.product-showall {
    width: 250px;
    background-color: var(--color-emerald);
    border-radius: 15px;
    justify-content: center;
    align-items: center;

    &__icon {
        margin-bottom: 10px;
    }

    &__title {
        font-family: "Museo Sans 700 Bold";
        font-size: 18px;
        line-height: 22px;
        color: #fff;
    }
}
