@import './mixins/visually-hidden';
@import './mixins/stop-scroll';

html {
    box-sizing: border-box;
}

.html--crop-x {
    @include breakpoint(sm-max) {
        overflow-x: hidden;
    }

    body {
        @include breakpoint(sm-max) {
            overflow-x: hidden;
        }
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;

    // @include breakpoint(md-max) {
    //     cursor: default;
    // }
}

body {
    margin: 0;
    background-color: var(--color-white);
    width: 100%;
    transform: none;
    font-family: "Museo Sans Cyrl";
    font-weight: 400;
    font-style: normal;
    color: var(--color-mine-shaft);
}

.body--crop {
    overflow: hidden;
}

.main {
    width: 100%;
    transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.footer-hidden {
    @include breakpoint(sm-max) {
        display: none;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--color-mine-shaft);
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    outline: none;
    padding: 0;
}

button[disabled] {
    background: #bdbdbd;
    cursor: default;

    &:hover {
        background: #bdbdbd;
    }
}

.btn {
    background-color: var(--color-emerald);
    border-radius: 10px;
    color: var(--color-white);
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    border: 0;
    max-width: 380px;

    &:hover {
        background-color: var(--color-emerald-hover);
    }

    &:active {
        background-color: var(--color-emerald-pressed);
    }
}

.search-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(48, 48, 48, 0.4);
    width: 100%;
    height: calc(100vh - 97px);
    z-index: 3;
    display: none;
}

.search-bg--active {
    display: flex;
}

.h1 {
    font-family: "Museo Sans Cyrl";
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    color: var(--color-mine-shaft);
    margin-bottom: 20px;
}

.title {
    font-family: "Museo Sans Cyrl";
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 30px;
    color: var(--color-black);

    @media (max-width: $screen-sm-max) {
        font-size: 24px;
        line-height: 100%;
    }
}

.breadcrumbs {
    margin-top: 20px;
    font-family: "Museo Sans 500 Medium";
    font-size: 14px;
    line-height: 17px;
    color: var(--color-wistful);
    text-decoration: none;

    a {
        color: var(--color-wistful);
    }
}

.form-additional {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;

    &__link {
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
    }
}

.checkbox-item--form {
    margin: 0;

    .checkbox-item__title {
        font-family: "Museo Sans Cyrl";
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
    }
}

.is-outer {
    position: relative !important; // stylelint-disable-line declaration-no-important
    left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
    overflow: hidden;
}

.stop-scroll {
    @include stop-scroll;
}

.is-hidden {
    display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
    display: none;

    // @include mobile {
    //     display: block;
    // }
}

.error {
    border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
    @include visually-hidden;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;

    @include breakpoint(lg-max) {
        padding: 0 50px;
    }

    @include breakpoint(sm-max) {
        padding: 0 15px;
    }
}


.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
